/* Set the background image for the body */
@font-face {
    font-family: voltaire;
    src: url(/fonts/Voltaire-Frangela.ttf);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #232253;
    overflow-y: auto;
}

header {
    color: #5DCED7;
    padding-top: 70px;
    padding-bottom: 30px;
    z-index: 1000;
    text-align: center;
    font-family: voltaire;
}

/*.container .card.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
*/
main {
    flex-grow: 1;
    overflow: auto;
    padding-top: 230px;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 45px;
    gap: 35px;
}
.container .card {
    position: absolute;
    width: 100px;
    height: 150px;
    border-radius: 8px;
    background: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,2);
    font-size: 6em;
    font-weight: 700;
    border: 10px solid rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.5s;
    transform-origin: 50% 100%;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    transform: rotate(calc(var(--i) * 0deg)) translate(calc(var(--i) * 45px), -50px);
    box-shadow: 0 15px 50px rgba(0,0,0,0.25);
}
/* Controls movement up after card selected in 22 spread */
.container .card.selected {
    translate: calc(var(--i) * 1px) -50px;
    z-index: 100;
}
.container .card:hover {
    translate: calc(var(--i) *1px) -50px;
    z-index: 100;
}
/* Tarot Reading Content Aside */
.image-text {
    display: flex;
    gap: 20px;
    padding-left: 165px;
}
.card img {
    width: 160px;
    height: 300px;
}
.text {
    flex-grow: 1;
}
.card-spread {
    margin-bottom: 190px;
}
.your-reading {
    margin-top: 50px;
}
.reading-card {
    margin-top: 40px;
}
.reading-card p {
    font-size: 24px;
}
footer {
    text-align: center;
}